{% extends "students/base.html" %}

<!-- {% load static from staticfiles %} -->

{% load get_range %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}

<!-- Start Students Listing -->
<p align="center"><a href="#">&larr;</a>Листопад 2016<a href="#">&rarr;</a></p>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Студент</th>
			<th>Вт<br>1</th>
			<th>Ср<br>2</th>
			<th>Чт<br>3</th>
			<th>Пт<br>4</th>
			<th>Сб<br>5</th>
			<th>Нд<br>6</th>
			<th>Пн<br>7</th>
			<th>Вт<br>8</th>
			<th>Ср<br>9</th>
			<th>Чт<br>10</th>
			<th>Пт<br>11</th>
			<th>Сб<br>12</th>
			<th>Нд<br>13</th>
			<th>Пн<br>14</th>
			<th>Вт<br>15</th>
			<th>Ср<br>16</th>
			<th>Чт<br>17</th>
			<th>Пт<br>18</th>
			<th>Сб<br>19</th>
			<th>Нд<br>20</th>
			<th>Пн<br>21</th>
			<th>Вт<br>22</th>
			<th>Ср<br>23</th>
			<th>Чт<br>24</th>
			<th>Пт<br>25</th>
			<th>Сб<br>26</th>
			<th>Нд<br>27</th>
			<th>Пн<br>28</th>
			<th>Вт<br>29</th>
			<th>Ср<br>30</th>
		</tr>
	</thead>
	<tbody>
	{% for student in students %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a href="{% url "students_edit" student.id %}">{{ student.last_name }}<br>{{ student.first_name }}</a></td>
			{% for i in 30|get_range %}
				<td><input type="checkbox"></td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock content %}